:root{
  --select-max-height: 7rem;
  --select-border-radius: .5rem;
  --select-padding: .5rem;
  --select-border: var(--border);
}

.custom_select{
  display: inline;
  position: relative;
}

  .custom_select .value{
    position: relative;
    display: inline-block;
    padding: var(--select-padding) 2rem var(--select-padding) var(--select-padding);
    border-radius: var(--select-border-radius);
    cursor: pointer;
  }
  /* START THEMES */
  .custom_select.dark .value{
    background: none;
    color: var(--white);
    border: var(--select-border) solid var(--white);
  }
  .custom_select.light .value{
    background: none;
    color: var(--dark-blue);
    border: var(--select-border) solid var(--dark-blue);
  }
  /* END THEMES */

    .custom_select .value img{
      position: absolute;
      width: 1rem;
      height: auto;
      margin: .1rem 0 0 var(--select-padding);
      transition: transform .3s;
    }
    .custom_select.active .value img{
      transform: rotate(180deg);
    }
    /* START THEMES */
    .custom_select.dark .value img{
      filter: var(--filter-white);
    }
    .custom_select.light .value img{
      filter: var(--filter-dark-blue);
    }
    /* END THEMES */

  .custom_select .options_container{
    position: absolute;
    overflow-y: scroll;
    border-radius: var(--select-border-radius);
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    transition: max-height .3s, opacity .4s ease;
  }
  .custom_select.active .options_container{
    max-height: var(--select-max-height);
    opacity: 1;
  }
  .custom_select.dark .options_container{
    background: #fff;
    color: #000;
  }
  .custom_select.light .options_container{
    background: #000;
    color: #fff;
  }
  /* START THEMES */
  .custom_select.dark .options_container{
    background: #00000000;
    color: var(--white);
    border: var(--select-border) solid var(--white);
  }
  .custom_select.light .options_container{
    background: #00000000;
    color: var(--dark-blue);
    border: var(--select-border) solid var(--dark-blue);
  }
  /* END THEMES */

    .custom_select .options_container input[type="radio"]{
      display: none;
    }
    .custom_select .options_container label{
      padding: var(--select-padding);
      display: block;
      cursor: pointer;
      width: 100%;
    }

    .custom_select .options_container::-webkit-scrollbar{
      border-radius: 0 var(--select-border-radius) var(--select-border-radius) 0;
      width: var(--select-border-radius);
    }
    .custom_select .options_container::-webkit-scrollbar-thumb {
      border-radius: var(--select-border-radius);
    }
    /* START THEMES */
    .custom_select.dark .options_container::-webkit-scrollbar-thumb {
      background: var(--white); 
    }
    .custom_select.light .options_container::-webkit-scrollbar-thumb {
      background: var(--dark-blue); 
    }
    /* END THEMES */